# Exploratory Data Analysis on Credit CSV

# Importing all packages

In [58]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

# Loading the data set

In [59]:
data = pd.read_csv("C:/Users\Rahul\Desktop\Data_Science\Youtube\csv/credit.csv")
data.sample(10)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
981,unknown,48,good,business,4844,< 100 DM,unemployed,3,2,33,bank,rent,1,management,1,yes,yes
28,1 - 200 DM,7,good,furniture/appliances,2415,< 100 DM,1 - 4 years,3,2,34,none,own,1,skilled,1,no,no
685,unknown,60,good,car,6527,unknown,1 - 4 years,4,4,34,none,other,1,skilled,2,yes,no
942,unknown,24,good,furniture/appliances,929,unknown,4 - 7 years,4,2,31,store,own,1,skilled,1,yes,no
925,< 0 DM,12,very good,car,697,< 100 DM,< 1 year,4,2,46,bank,own,2,skilled,1,yes,yes
521,< 0 DM,18,good,furniture/appliances,3190,< 100 DM,1 - 4 years,2,2,24,none,own,1,skilled,1,no,yes
171,unknown,12,good,furniture/appliances,763,< 100 DM,1 - 4 years,4,1,26,none,own,1,skilled,1,yes,no
144,unknown,21,critical,furniture/appliances,2288,< 100 DM,< 1 year,4,4,23,none,own,1,skilled,1,yes,no
404,1 - 200 DM,18,poor,car,2899,unknown,> 7 years,4,4,43,none,own,1,skilled,2,no,no
374,1 - 200 DM,60,very good,car0,14782,100 - 500 DM,> 7 years,3,4,60,bank,other,2,management,1,yes,yes

In [60]:
data.shape

(1000, 17)

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: int64(7), object(10)
memory usage: 132.9+ KB

In [62]:
data["checking_balance"].unique()

array(['< 0 DM', '1 - 200 DM', 'unknown', '> 200 DM'], dtype=object)

In [63]:
pd.set_option("display.max_rows",256)
data.isnull().sum()

checking_balance        0
months_loan_duration    0
credit_history          0
purpose                 0
amount                  0
savings_balance         0
employment_duration     0
percent_of_income       0
years_at_residence      0
age                     0
other_credit            0
housing                 0
existing_loans_count    0
job                     0
dependents              0
phone                   0
default                 0
dtype: int64

In [64]:
data.sample(3)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
189,1 - 200 DM,18,perfect,furniture/appliances,3244,< 100 DM,1 - 4 years,1,4,33,bank,own,2,skilled,1,yes,no
429,< 0 DM,18,critical,renovations,1190,< 100 DM,unemployed,2,4,55,none,other,3,unemployed,2,no,yes
84,< 0 DM,10,good,furniture/appliances,2315,< 100 DM,> 7 years,3,4,52,none,own,1,unskilled,1,no,no

In [65]:
data["purpose"].value_counts()

furniture/appliances    473
car                     337
business                 97
education                59
renovations              22
car0                     12
Name: purpose, dtype: int64

# Relacing the Null and special character with its respective medians.

In [66]:
data["checking_balance"].replace("unknown", 0, inplace = True)
data["checking_balance"].replace("< 0 DM", 0, inplace = True)
data["checking_balance"].replace("1 - 200 DM", 100, inplace = True)
data["checking_balance"].replace("> 200 DM", 200, inplace = True)

data["savings_balance"].replace("< 100 DM", 100, inplace = True)
data["savings_balance"].replace("unknown", 0, inplace = True)
data["savings_balance"].replace("100 - 500 DM", 300, inplace = True)
data["savings_balance"].replace("500 - 1000 DM", 750, inplace = True)
data["savings_balance"].replace("> 1000 DM", 1000, inplace = True)

data["employment_duration"].replace("1 - 4 years", 2.5, inplace = True)
data["employment_duration"].replace("> 7 years", 7, inplace = True)
data["employment_duration"].replace("4 - 7 years", 5.5, inplace = True)
data["employment_duration"].replace("< 1 year", 1, inplace = True)
data["employment_duration"].replace("unemployed", 0, inplace = True)

data["purpose"].replace("car0", "car", inplace = True)

In [67]:
data["purpose"].value_counts()

furniture/appliances    473
car                     349
business                 97
education                59
renovations              22
Name: purpose, dtype: int64

In [68]:
data.sample(15)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
118,0,33,critical,furniture/appliances,4281,750,2.5,1,4,23,none,own,2,skilled,1,no,yes
936,200,9,good,furniture/appliances,745,100,2.5,3,2,28,none,own,1,unskilled,1,no,yes
156,0,9,critical,renovations,1288,300,7.0,3,4,48,none,own,2,skilled,2,no,no
278,0,6,good,furniture/appliances,4611,100,1.0,1,4,32,none,own,1,skilled,1,no,yes
160,0,24,critical,furniture/appliances,2872,300,7.0,3,4,36,none,own,1,skilled,2,yes,no
190,0,24,good,business,4591,1000,2.5,2,3,54,none,own,3,management,1,yes,yes
284,100,24,critical,car,3878,300,1.0,4,2,37,none,own,1,skilled,1,yes,no
177,0,6,critical,furniture/appliances,338,750,7.0,4,4,52,none,own,2,skilled,1,no,no
733,0,24,good,car,2603,1000,2.5,2,4,28,none,rent,1,skilled,1,yes,no
312,200,24,good,furniture/appliances,3749,100,1.0,2,4,26,none,own,1,skilled,1,no,no
786,0,22,good,furniture/appliances,2675,750,7.0,3,4,40,none,own,1,skilled,1,no,no
16,0,24,critical,furniture/appliances,2424,0,7.0,4,4,53,none,own,2,skilled,1,no,no
225,0,36,perfect,renovations,2613,100,2.5,4,2,27,none,own,2,skilled,1,no,no
509,0,39,good,car,8588,300,7.0,4,2,45,none,own,1,management,1,yes,no
365,0,12,good,business,1542,100,5.5,2,4,36,none,own,1,skilled,1,yes,no

# One hot encoding

In [69]:
dummies=pd.get_dummies(data[['credit_history','purpose','other_credit','housing','job','phone']],
                      columns=['credit_history','purpose','other_credit','housing','job','phone'])

In [70]:
dummies.sample(10)

,credit_history_critical,credit_history_good,credit_history_perfect,credit_history_poor,credit_history_very good,purpose_business,purpose_car,purpose_education,purpose_furniture/appliances,purpose_renovations,...,other_credit_store,housing_other,housing_own,housing_rent,job_management,job_skilled,job_unemployed,job_unskilled,phone_no,phone_yes
677,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
822,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
795,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,1,0
731,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,1,0
279,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,1
0,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
968,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
911,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
725,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
402,0,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1

# Concatinating the dummies created

In [71]:
data = pd.concat([data, dummies], axis = 1)
data.sample(10)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,...,other_credit_store,housing_other,housing_own,housing_rent,job_management,job_skilled,job_unemployed,job_unskilled,phone_no,phone_yes
710,0,18,critical,furniture/appliances,629,750,7.0,4,3,32,...,0,0,1,0,1,0,0,0,0,1
511,0,36,good,car,4686,100,2.5,2,2,32,...,0,1,0,0,1,0,0,0,0,1
289,0,24,poor,furniture/appliances,1024,100,1.0,4,4,48,...,1,0,1,0,0,1,0,0,1,0
65,0,27,good,renovations,5190,0,7.0,4,4,48,...,0,0,1,0,0,1,0,0,0,1
704,100,27,good,business,2528,100,1.0,4,1,32,...,0,0,1,0,0,1,0,0,0,1
983,0,36,good,car,8229,100,2.5,2,2,26,...,0,0,1,0,0,1,0,0,1,0
118,0,33,critical,furniture/appliances,4281,750,2.5,1,4,23,...,0,0,1,0,0,1,0,0,1,0
68,0,36,good,education,1819,100,2.5,4,4,37,...,1,1,0,0,0,1,0,0,0,1
64,0,24,good,furniture/appliances,3181,100,1.0,4,4,26,...,0,0,1,0,0,1,0,0,0,1
524,100,18,good,furniture/appliances,1113,100,2.5,4,4,26,...,0,0,1,0,0,0,0,1,1,0

In [72]:
columns = ['credit_history','purpose','other_credit','housing','job','phone']
data.drop(columns, axis= 1, inplace = True)

In [73]:
data['savings_balance'].replace('< 100 DM',np.random.randint(1,99),inplace=True)
data.sample(10)

,checking_balance,months_loan_duration,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,existing_loans_count,dependents,...,other_credit_store,housing_other,housing_own,housing_rent,job_management,job_skilled,job_unemployed,job_unskilled,phone_no,phone_yes
396,0,12,2578,100,0.0,3,4,55,1,1,...,0,1,0,0,1,0,0,0,1,0
328,200,36,4473,100,7.0,4,2,31,1,1,...,0,0,1,0,0,1,0,0,1,0
648,200,24,947,100,5.5,4,3,38,1,2,...,0,1,0,0,0,1,0,0,1,0
373,0,60,13756,0,7.0,2,4,63,1,1,...,0,1,0,0,1,0,0,0,0,1
679,0,18,1453,100,1.0,3,1,26,1,1,...,0,0,1,0,0,1,0,0,1,0
304,0,48,10127,750,2.5,2,2,44,1,1,...,0,1,0,0,0,1,0,0,1,0
583,100,36,2384,100,1.0,4,1,33,1,1,...,0,0,0,1,0,0,0,1,1,0
745,0,13,1797,100,1.0,3,1,28,2,1,...,0,0,1,0,0,0,0,1,1,0
591,100,24,1965,0,2.5,4,4,42,2,1,...,0,0,0,1,0,1,0,0,0,1
725,0,6,250,1000,2.5,2,2,41,2,1,...,0,0,1,0,0,0,0,1,1,0

In [74]:
def default_new(x):
    if x == "no":
        return 0
    if x == "yes":
        return 1

In [75]:
data["default"] = data["default"].apply(default_new)

In [76]:
data["default"].unique()

array([0, 1], dtype=int64)

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   checking_balance              1000 non-null   int64
 1   months_loan_duration          1000 non-null   int64
 2   amount                        1000 non-null   int64
 3   savings_balance               1000 non-null   int64
 4   employment_duration           1000 non-null   float64
 5   percent_of_income             1000 non-null   int64
 6   years_at_residence            1000 non-null   int64
 7   age                           1000 non-null   int64
 8   existing_loans_count          1000 non-null   int64
 9   dependents                    1000 non-null   int64
 10  default                       1000 non-null   int64
 11  credit_history_critical       1000 non-null   uint8
 12  credit_history_good           1000 non-null   uint8
 13  credit_history_perfect        1000 non-null   uint8
 14  credit_history_poor           1000 non-null   uint8
 15  credit_history_very good      1000 non-null   uint8
 16  purpose_business              1000 non-null   uint8
 17  purpose_car                   1000 non-null   uint8
 18  purpose_education             1000 non-null   uint8
 19  purpose_furniture/appliances  1000 non-null   uint8
 20  purpose_renovations           1000 non-null   uint8
 21  other_credit_bank             1000 non-null   uint8
 22  other_credit_none             1000 non-null   uint8
 23  other_credit_store            1000 non-null   uint8
 24  housing_other                 1000 non-null   uint8
 25  housing_own                   1000 non-null   uint8
 26  housing_rent                  1000 non-null   uint8
 27  job_management                1000 non-null   uint8
 28  job_skilled                   1000 non-null   uint8
 29  job_unemployed                1000 non-null   uint8
 30  job_unskilled                 1000 non-null   uint8
 31  phone_no                      1000 non-null   uint8
 32  phone_yes                     1000 non-null   uint8
dtypes: float64(1), int64(10), uint8(22)
memory usage: 107.5 KB